/*index.css*/
html, body{
    height: 100%;
    margin: 0px;
}

header{
    color:#641c34;
    text-align: center;
    height: 20%;
    background-color: #a18594; 
}

.tamaño{
    height: 128px;
    width: 128px;
    padding-left: 80px;
    vertical-align: middle;	 
}

.cabeza{
    display: inline-block;
}

nav{
    background-color: #800040;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.enlace{
    background-color: #de4c8a;
    color: #47202e;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 18px;
}

.enlace:hover{
    background-color: #ff6faf;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

main {
    display: flex;
    height: calc(130% - 140px); /* Ajusta según el header */
}

section {
    width: 85%;
    height: 100%;
}

#topArticle{
    height: 50%;
    background-color: #722f37;
    text-align: center;
    color: #251116;
    padding-bottom: 20px;
}

.mivideo{
    text-align: left;
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    border-radius: 5px;
}

.imagenes1{
    width: 300px;              
    height: 200px;
    object-fit: cover;         
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.gap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 300px;
    margin-top: 20px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.item h3{
    margin-top: 10px;
    color: #ffd5d5;
}

#bottomArticle{
    height: 47%;
    background-color: #722f37; 
    text-align: center;
    color: #47202e;
}

.galeria{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin:auto;
    padding: 20px 0;  
}

.imagenes2{
    width: 300px;              
    height: 200px;
    object-fit: cover;         
    border-radius: 5px;
    display: block;
}

.mih1{
    margin: 0px;
    background-color:#de4c8a; 
}

aside {
    width: 15%;
    height: 100%;
    background-color: #de4c8a;
}

.logo8 img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.piecito{
    margin: 0px;
    padding: 10px;
}

footer{
    height: 25%;
    width: 100%;
    background-color: #641c34; 
    color: #ea899a;
    font-size: 7px;
    margin: 0px;
    padding: 10px;
}